body {
    background-color: #a0d8ef;
    background-image: url('/public/img/background-img.jpg');
    background-size: cover;
    background-position: center center;
    font-family: 'ByteBounce', Arial, sans-serif;
    background-attachment: fixed;
}





/* -----HEAD----- */
.head {
    background-color: #064b9a;
    color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3vh;
}
.head h2 {
    font-size: 5vh;
    font-weight: bold;
    margin: 0;
    font-family: 'Daydream', sans-serif;
}
.links {
    position: absolute;
    right: 1vh;
    display: flex;
    align-items: center;
}
.links a {
    color: orange;
    font-size: 3vh;
    text-decoration: none;
    font-family: 'ByteBounce', sans-serif;
    color: inherit;
    padding:1vh;
}





.top-right {
    position: absolute;
    top: 15px;
    right: 20px;
}
.top-right button {
    background: #23BA0A;
    border: none;
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
    font-weight: bold;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    max-width: 80%;
    margin: auto;
    overflow: auto;
    padding-bottom: 20px;
    overflow: visible;
}



.footer {
    background-color: #0D683D;
    color: #418b34;
    text-align: right;
    padding: 10px;
    font-size: 14px;
}
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}






a {
    color: orange;
    font-size: 20px;
    text-decoration: none;
    font-family: 'ByteBounce', sans-serif;
    color: inherit;
}

a:hover {
    color: #db8e29;
}

.footer img {
    width: 2em;
    height: auto;
    vertical-align: middle;
}

.item:hover {
    background-color: #ebebeb;
}

.inscription-container {
    background-color: white;
    width: 500px;
    min-height: 300px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    text-align: left;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    color: #017EF2;
    font-size: 23px;

}
.inscription-container a {
    text-decoration: none;
    color: #017EF2;
    font-size: 18px;
    font-family: 'ByteBounce', sans-serif;
    display: block;
    margin-bottom: 15px;
}
.inscription-container a:hover {
    color: #db8e29;
}

.inscription-container input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.inscription-btn {
    background-color: #064b9a;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 15px;
    width: 50%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-family: 'ByteBounce', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.inscription-btn:hover {
    color: #db8e29;
}


.cart-container {
    margin: auto;
    padding: 20px;
    background: #f8c984;
    border-radius: 10px;
    border: 6px solid #a56629;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    max-width: 80%;
}
.cart-container a {
    text-decoration: none;
    color: #8a4f20;
    font-size: 25px;
    font-family: 'ByteBounce', sans-serif;
    display: block;
    margin-bottom: 15px;
    text-align: left;
    align-items: flex-start;

}
.cart-container a:hover {
    color: #db8e29;
}

h1 {
    color: #8a4f20;
    text-align: center;
}

.cart-items {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 2%;
}
.cart-item {
    background: #fff5d6;
    border: 6px solid #E9AA67;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    text-align: left;
    display: flex;
    gap: 10px;
    font-size: 20px;
    width: calc(25% - 20px);
    box-sizing: border-box;
    position: relative; 
    
}

.garbage-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 30px;
    height: 30px;
}

.garbage-btn img {
    width: 100%;
    height: 100%;
}


.cart-summary {
    margin: auto;
    padding: 10px;
    max-width: 81%;
    background: #a56629;
    color: white;
    border: 6px solid #a56629;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 2%;
}

.cart-summary .details {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    font-size: 23px;
}
.buy-button {
    background-color: #23BA0A;
    color: white;
    padding: 20px 40px; 
    /* Trouver autre facon pour !important fix it later  */
    font-size: 35px !important;
    border-radius: 20px !important;
    cursor: pointer;
    width: 200px;
    height: 60px;
    margin-top: auto;
    margin-bottom: auto;
}
.buy-button:hover {
    background-color: #318620;
}



.cart-item-img {
    width: 90px;
    height: 90px;
    vertical-align: middle
}


.item-details {
    flex-grow: 1;
    text-align: left;
}

.delete-item {
    cursor: pointer;
    font-size: 18px;
    color: red;
}

.buy-button {
    background: #3fae29;
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'ByteBounce', sans-serif;
}





/* -----ITEMS----- */
.item {
    margin: auto;
    padding: 15px;
    gap: 10px;
    font-size: 30px;
    border-radius: 5px;
    width: 300px;
    display: flex;
    align-items: center;
    text-align: left;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    background: white;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.item-img {
    width: 60px;
    height: 60px;
}
.item .badge {
    position: absolute;
    width:40px;
    height: 40px;
    top: -10px;
    left: -10px;
    color: white;
    background-image: url('/public/img/Badge.png'); 
    background-size: 50px; 
    background-position: center;
    display: flex; 
    justify-content: center; 
    align-items: center;
    text-align: center;
    vertical-align: middle;
    padding-bottom: 5px;
    padding-left: 1px;
    overflow: visible; 
}
.item-type {
    position: absolute;
    width: auto;
    height: auto;
    bottom: 0px;
    right: 0px;
    border-radius: 5px 0px 5px 0px;
    background: rgb(37, 37, 37);
    color: white;
    padding: 3px;
    padding-left: 5px;
    vertical-align: middle;
    font-size: 20px;
    text-align: center;
}
.item-title {
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    max-width: 250px; 
}
.item-symbol{
    height:20px;
    width: 20px;
    vertical-align: middle;
}
.item-value{
    vertical-align: middle;
    text-overflow: ellipsis;
}

/*Filter*/
.filter {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    color: #ffffff;
    font-size: 50px;
    border-radius: 10px;
    padding:10px;
    justify-content: space-between;
    max-width: 80%;
    margin:20px auto;
    background-color: #064b9a;
    border: 1px solid black;
    text-align: left;
}
.filter-input{
    transform: scale(2);
    height: 30px;
    margin-left: 20px;
}
.filter-field{
    vertical-align: middle;
    white-space: nowrap;
    margin: auto 0 auto 0;
}
.filter-button-field{
    display: flex;
    align-items: center;
}
.filter-button{
    padding:10px;
    border-radius: 10px;
    width: auto;
    background-color:#db8e29;
    color:white;
    font-family: 'ByteBounce', Arial, sans-serif;
    font-size: 35px;
    margin: auto;
}





/* -----DETAILS----- */
.detail {
    background: rgb(219, 244, 255);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    text-align: left;
    display: flex;
    gap: 10px;
    width: 80%;
    height: 80%;
    padding: 20px;
    white-space: normal;
}
.detail-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}
.detail-img {
    width: auto;
    height: auto;
    padding:30px;
}
.detail-body {
    font-size: 50px;
}
.detail-symbol {
    height: clamp(1rem, 3vw, 3rem);
    width: clamp(1rem, 3vw, 3rem);
}
.detail-description {
    font-size: clamp(1rem, 2vw, 2rem);
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
}
.return-button{
    position: absolute;
    background: #064b9a;
    color: white;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
    font-family: 'ByteBounce', Arial, sans-serif;
}




@font-face {
    font-family: 'ByteBounce';
    src: url('/public/fonts/ByteBounce.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Daydream';
    src: url('/public/fonts/Daydream.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

