/* -----------Main---------- */
main {
    flex: 1;
}

/* Header */



html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #a0d8ef;
    background-image: url('/public/img/background-img.jpg');
    background-size: cover;
    background-position: center center;
    font-family: 'ByteBounce', Arial, sans-serif;
    background-attachment: fixed;
    height: 100%;
}

/* -----HEAD----- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .head {
    background-color: #063c7a;
    color:orange;
    padding: 15px 20px;
    display: flex; 
    align-items: center; 
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    position: sticky; 
    z-index: 100; 
    padding:25px;
  }
.head h2 {
    font-size: 5vh;
    font-weight: bold;
    font-family: 'Daydream', sans-serif;
}
.links {
    position: absolute;
    right: 1vh;
    display: flex;
    align-items: center;
}
.links a {
    color: orange;
    font-size: 3vh;
    text-decoration: none;
    font-family: 'ByteBounce', sans-serif;
    color: inherit;
    padding:1vh;
}

a:hover {
    color: #db8e29;
}

/* -----FOOTER----- */
.footer {
    background-color: #0a4605;
    color:orange;
    padding: 15px 20px;
    display: flex; 
    justify-content: right;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    position: sticky; 
    z-index: 100; 
}
.footer img {
    width: 20px;
    vertical-align: middle;
}

/* -------------User--------------- */
.profile-container {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    left: 20px;
    padding: 5px;
    width: 180px;
    top: 0.5px;
}
.user-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user {
    width: 80px;
    height: 80px;
    background-color: white;
    border: solid 3px orange;
}

.stats {
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-size: 20px; 
}

.img-profile {
    width: 20px;
    height: 20px;
}

.username {
    font-size: 25px;
    margin-top: 1px;
}



/* ---------Barre Nav------- */
.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #197de1;
    padding: 10px;
}

.navbar a {
    color: orange;
    font-size: 27px;
    text-decoration: none;

}

.navbar a:hover {
    color: #db8e29;
}
/* --------Inscription & Connexion ---------- */
.inscription-container {
    background-color: white;
    width: 500px;
    min-height: 300px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    text-align: left;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    color: #017EF2;
    font-size: 23px;

}

.inscription-container a {
    text-decoration: none;
    color: #017EF2;
    font-size: 18px;
    font-family: 'ByteBounce', sans-serif;
    display: block;
    margin-bottom: 15px;
}
.inscription-container a:hover {
    color: #db8e29;
}

.inscription-container input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.inscription-btn {
    background-color: #064b9a;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 15px;
    width: 50%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-family: 'ByteBounce', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.inscription-btn:hover {
    color: #db8e29;
}

/* ----------- Panier ---------- */
.cart-container {
    margin: 0;
    padding: 20px;
    background: #f8c984;
    max-width: 100%;
}
.cart-container a {
    text-decoration: none;
    color: #8a4f20;
    font-size: 25px;
    font-family: 'ByteBounce', sans-serif;
    display: block;
    margin-bottom: 15px;
    text-align: left;
    align-items: flex-start;

}
.cart-container a:hover {
    color: #db8e29;
}

h1 {
    color: #8a4f20;
    text-align: center;
}
.background h1{
    background-color: #f8c984;
    border: solid 5px #a56629;
    border-radius: 20px;
    width:20%;
    margin: auto;
    margin-top: 1%;
}

.cart-items {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 2%;
}
.cart-item {
    background: #fff5d6;
    border: 6px solid #E9AA67;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    text-align: left;
    display: flex;
    gap: 10px;
    font-size: 33px;
    width: calc(25% - 20px);
    box-sizing: border-box;
    position: relative; 
    
}

.garbage-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 30px;
    height: 30px;
}

.garbage-btn img {
    width: 100%;
    height: 100%;
}




.cart-summary {
    margin: 0;
    padding: 15px;
    width: 100%;
    background: #a56629;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-summary .details {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    font-size: 23px;
}
.buy-button {
    background-color: #23BA0A;
    color: white;
    padding: 10px 20px;
    font-size: 35px;
    border-radius: 20px;
    cursor: pointer;
    width: 200px;
    height: 60px;
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'ByteBounce', sans-serif;
}
.buy-button:hover {
    background-color: #318620;
}
.cart-item-img {
    width: 90px;
    height: 90px;
    vertical-align: middle
    
}




.cart-border {
    border: 6px solid #a56629;
    border-radius: 20px;
    margin: auto;
    margin-top: 1.5%;
    margin-bottom:2.5%;
    width: 80%;
    display: flex;
    flex-direction: column;
    overflow: hidden; 
}

/*-----Sac-à-dos------*/

.backpack-item {
    background: #fff5d6;
    border: 6px solid #E9AA67;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    text-align: left;
    display: flex;
    gap: 10px;
    font-size: 33px;
    width: calc(25% - 20px);
    box-sizing: border-box;
    position: relative; 
    padding-bottom: 70px;
    
}

.sell-button {
    background-color: #23BA0A;
    color: white;

    font-size: 30px;
    border-radius: 20px;
    cursor: pointer;
    width: 130px;
    height: 50px;
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'ByteBounce', sans-serif;
}
.sell-button:hover {
    background-color: #318620;
}

.sell-button-container {
    position: absolute;
    bottom: 10px; /* Adjust the distance from the bottom */
    right: 10px; /* Push it to the bottom */
    
}

.backpack-span{
    font-size: 35px;
    min-width: 60px; 
}

.backpack-select{
    font-size: 15px; /* Adjust to match label size */
        padding: 5px;
        border-radius: 5px;
        border: 2px solid #8a4f20;
        background-color: #fff5d6;
        margin-bottom: 0; /* Remove margin-bottom */
        transform: translateY(-5px);
        margin-right: 7px;
        
}

/* -----ITEMS----- */
.item {
    margin: auto;
    padding: 15px;
    gap: 10px;
    font-size: 30px;
    border-radius: 5px;
    width: 350px;
    display: flex;
    align-items: center;
    text-align: left;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    background: white;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.item-img {
    width: 60px;
    height: 60px;
}
.item .badge {
    position: absolute;
    width:40px;
    height: 40px;
    top: -10px;
    left: -10px;
    color: white;
    background-image: url('/public/img/Badge.png'); 
    background-size: 50px; 
    background-position: center;
    display: flex; 
    justify-content: center; 
    align-items: center;
    text-align: center;
    vertical-align: middle;
    padding-bottom: 5px;
    padding-left: 1px;
    overflow: visible; 
}
.item-type {
    position: absolute;
    width: auto;
    height: auto;
    bottom: 0px;
    right: 0px;
    border-radius: 5px 0px 5px 0px;
    background: rgb(37, 37, 37);
    color: white;
    padding: 3px;
    padding-left: 5px;
    vertical-align: middle;
    font-size: 20px;
    text-align: center;
}
.item-title {
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    max-width: 250px; 
}
.item-symbol{
    height:20px;
    width: 20px;
    vertical-align: middle;
}
.item-value{
    vertical-align: middle;
    text-overflow: ellipsis;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    max-width: 80%;
    margin: auto;
    overflow: auto;
    padding-bottom: 20px;
    overflow: visible;
}





/*Filter*/
.filter {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    color: #ffffff;
    font-size: 50px;
    border-radius: 10px;
    padding:10px;
    justify-content: space-between;
    max-width: 80%;
    margin:20px auto;
    background-color: #064b9a;
    border: 1px solid black;
    text-align: left;
}
.filter-input{
    transform: scale(2);
    height: 30px;
    margin-left: 20px;
}
.filter-field{
    vertical-align: middle;
    white-space: nowrap;
    margin: auto 0 auto 0;
}
.filter-button-field{
    display: flex;
    align-items: center;
}
.filter-button{
    padding:10px;
    border-radius: 10px;
    width: auto;
    background-color:#db8e29;
    color:white;
    font-family: 'ByteBounce', Arial, sans-serif;
    font-size: 35px;
    margin: auto;
}





/* -----DETAILS----- */
.detail-main{
    height: auto;
    margin: 10px;
}
.detail {
    display: flex;
    position: relative;
    background: rgb(219, 244, 255);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    width: 80em;
    height: auto;
    white-space: normal;
    justify-items: center;
    margin: 1vh auto;
    border: 5px solid #064b9a;
    border-radius: 20px;
    justify-content: center;
}
.detail-img {
    align-self: center;
    width: 40em;
    height: auto;
    padding:2em;
}
.detail-body {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: flex-start;
    font-size: 3em;
    height: auto;
    width: 600px;
}
@media (max-width: 1400px) {
    .detail {
        flex-direction: column;
        width: auto;
        padding:20px;
    }
    .detail-img {
        width: 100%;
        margin: 2em 0;
    }
    .detail-body {
        width: 100%;
        font-size: 3em;
    }
    .addToCart{
        margin:auto;
        margin-top: 20px;
    }
}
.detail-values{
    padding-left: 40px;
}
.detail-symbol {
    height: 30px;
}
.return-button {
    background: #064b9a;
    color: orange;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1.875rem;
    border-radius: 0.625rem;
    font-family: 'ByteBounce', Arial, sans-serif;
    width: 6rem;
    height: auto;
    display: flex;
    position:absolute;
    align-items: center;
    justify-content: center;
    top:-0.5em;
    left:-0.5em;
}










.addToCart {
    display:flex;
    align-items: center;
    justify-items: center;
    font-size: 30px;
    border-radius: 5px;
    background: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    gap:20px;
    border: 1px solid black;
    padding:15px;
    margin-left: auto;
}

.cart-container {
    display: flex;
    flex-direction: column;
}

.cart-header {
    display: flex;
    align-items: flex-start;
    gap:20px;
    padding: 10px;
}

.cart-icon {
    width: 2em;
    height: auto;
}

.cart-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.qty-row, .gold-row {
    display: flex;
    align-items: center;
    margin: auto;
}

.qty-row span, .gold-row span {
    font-size: 35px;
    min-width: 60px; 
    text-align: left;
    align-items: center;
    justify-content: center;
}

.qty-row select {
    font-size: 15px;
}

.add-button {
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: #1E90FF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 0.8em;
    cursor: pointer;
}







@font-face {
    font-family: 'ByteBounce';
    src: url('/public/fonts/ByteBounce.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Daydream';
    src: url('/public/fonts/Daydream.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

